img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 15px;
}

.absolute{
    width: 60px !important;
}

.image-div{
    height: auto !important;
    aspect-ratio: 3/2;
} 

@media (min-width: 550px) and (max-width: 980px){
    .image-div{
        aspect-ratio: 4/2;
    }

    .overlay-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px !important;
    }
}

@media (min-width: 981px){
    .image-div{
        aspect-ratio: 3/1;
    }
}

.carousel-next{
    right: 1rem;               
}

.carousel-previous{
    left: 1rem;               
}

.carousel-button {
    position: absolute;         
    top: 50%;                
    transform: translateY(-50%);
    background-color: #1f2937; 
    color: white;              
    opacity: 0.7;              
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: flex;             
    width: 30px !important; 
    height: 30px !important;            
    padding: 5px;                 
    border: none;         
    align-items: center;    
    justify-content: center;
  }
  
  .carousel-button:hover {
    opacity: 1; 
  }
  
  @media (min-width: 768px) {
    .carousel-button {
      display: none;
    }
  }
  
  .overlay-box {
    width: 350px !important;
    }


    @media (max-width: 549px) {
        .overlay-box {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 180px !important;
          padding: 6px;
          font-size: 0.8rem;
        }
      
        .overlay-box h2 {
          font-size: 1rem;
        }
      
        .overlay-box p {
          font-size: 0.75rem; 
        }
      }